.main {
  height: 100%;
  width: 100%;
}

.cartBadge {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 50;
  left: 90%;
  color: grey;
  cursor: pointer;
}

.cartNumber {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.searchbarContainer {
  width: 40%;
  margin: auto;
}

.searchbar {
  height: 50px;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.filtersContainer {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.priceRangeContainer {
  width: 40%;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
}

.filterInput {
  width: 45%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.02);
  color: #000;
  font-size: 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media screen and (max-width: 992px) {
  .searchbarContainer {
    width: 60%;
  }

  .filtersContainer {
    width: 85%;
  }

  .priceRangeContainer {
    width: 50%;
  }

  .filterInput {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .searchbarContainer {
    width: 80%;
  }

  .filtersContainer {
    width: 90%;
  }

  .priceRangeContainer {
    width: 50%;
  }

  .filterInput {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .filtersContainer {
    width: 95%;
  }
}
