.submitBtn {
  width: 30%;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: #000;
  color: #fff;
  opacity: 0.7;
  border: none;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.submitBtn:hover {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .submitBtn {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 768px) {
  .submitBtn {
    width: 70%;
    margin-left: 15%;
    font-size: 0.8rem;
  }
}
